/* style.css */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Mulish', sans-serif !important;
}

/* ===================================== GENERAL ===================================== */

/*fonts
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Mulish', sans-serif;
*/

/* form */

form input, form textarea{
    margin: 5px 0;
}